.hero_section{
    background: url(../../../public/images/bg-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    width: 100%;
    height: 100vh;
}