/* ==========================
 Global Declaration  
========================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}


html,
body {
  scroll-behavior: smooth !important;
  height: 100%;
  transition: all 0.3s !important;
}


a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input:focus {
  outline: none !important;
}



